.bg {
    background-image: url('../../images/69278206.cms');
    background-size: cover;
    border: 2px solid black;
    height: 1000px;
    width: 100%;
    display: inline-block;
    text-align: center;
    
  }